// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#define WINVER 0x0501
#define _WIN32_IE 0x0501
#define _WIN32_WINNT 0x0501
#include <winuser.h>
#include <commctrl.h>
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "win32/resource.h\0"
END

#endif    // APSTUDIO_INVOKED

1 24 "res/DCPlusPlus.Manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_ARROWS              BITMAP                  "res/arrows.bmp"
IDB_FOLDERS             BITMAP                  "res/folders.bmp"
IDB_TOOLBAR20           BITMAP                  "res/toolbar20.bmp"
IDB_TOOLBAR20_HOT       BITMAP                  "res/toolbar20-highlight.bmp"
IDB_USERS               BITMAP                  "res/users.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_DCPP                ICON                    "res/DCPlusPlus.ico"
IDR_PUBLICHUBS          ICON                    "res/PublicHubs.ico"
IDR_SEARCH              ICON                    "res/Search.ico"
IDR_FAVORITE_HUBS       ICON                    "res/FavoriteHubs.ico"
IDR_PRIVATE             ICON                    "res/UserOn.ico"
IDR_DIRECTORY           ICON                    "res/Directory.ico"
IDR_HUB                 ICON                    "res/HubOn.ico"
IDR_NOTEPAD             ICON                    "res/Notepad.ico"
IDR_QUEUE               ICON                    "res/Queue.ico"
IDR_FINISHED_DL         ICON                    "res/FinishedDL.ico"
IDR_ADLSEARCH           ICON                    "res/ADLSearch.ico"
IDR_FINISHED_UL         ICON                    "res/FinishedUL.ico"
IDR_FAVORITE_USERS      ICON                    "res/FavoriteUsers.ico"
IDR_SPY                 ICON                    "res/SearchSpy.ico"
IDR_NET_STATS           ICON                    "res/NetStats.ico"
IDR_WAITING_USERS       ICON                    "res/WaitingUsers.ico"
IDR_MAGNET              ICON                    "res/Magnet.ico"
IDR_HUB_OFF             ICON                    "res/HubOff.ico"
IDR_PRIVATE_OFF         ICON                    "res/UserOff.ico"
IDR_FINISHED_DL_BY_FILE ICON                    "res/FinishedDLByFile.ico"
IDR_FINISHED_UL_BY_FILE ICON                    "res/FinishedULByFile.ico"
IDR_FINISHED_DL_BY_USER ICON                    "res/FinishedDLByUser.ico"
IDR_FINISHED_UL_BY_USER ICON                    "res/FinishedULByUser.ico"
IDR_EXIT                ICON                    "res/Exit.ico"
IDR_FOLLOW              ICON                    "res/Follow.ico"
IDR_HELP                ICON                    "res/Help.ico"
IDR_OPEN_DL_DIR         ICON                    "res/OpenDLDir.ico"
IDR_OPEN_FILE_LIST      ICON                    "res/OpenFileList.ico"
IDR_RECONNECT           ICON                    "res/Reconnect.ico"
IDR_SETTINGS            ICON                    "res/Settings.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOGEX 0, 0, 243, 287
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,96,266,50,14
    ICON            IDR_DCPP,IDC_ABOUT_ICON,110,15,21,20
    GROUPBOX        "",IDC_ABOUT_GROUP,7,7,229,102
    EDITTEXT        IDC_TTH,35,93,196,12,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    LTEXT           "TTH:",IDC_ABOUT_TTH,13,93,18,12
    GROUPBOX        "Greetz and Contributors",IDC_GREETZ,7,112,229,82,BS_CENTER
    GROUPBOX        "Latest stable version",IDC_LATEST_VERSION,7,239,229,24,BS_CENTER
    CTEXT           "0.xxx",IDC_LATEST,13,250,218,8
    GROUPBOX        "Totals",IDC_TOTALS,7,197,229,39,BS_CENTER
    CTEXT           "Upload: xx.xx MiB, Download: xx.xx MiB",IDC_UPDOWN,13,208,218,8
    CTEXT           "Ratio (Up/Down): x.xx",IDC_RATIO,13,221,218,8
    EDITTEXT        IDC_THANKS,13,122,218,66,ES_MULTILINE | ES_READONLY | WS_VSCROLL
    CTEXT           "Static",IDC_VERSION,13,37,218,54
END

IDD_LINE DIALOGEX 0, 0, 239, 46
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Title"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_GENERALPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_STATICEDGE
CAPTION "General"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_ADVANCEDPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_STATICEDGE
CAPTION "Advanced"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_DOWNLOADPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_STATICEDGE
CAPTION "Downloads"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_UPLOADPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_STATICEDGE
CAPTION "Sharing"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_APPEARANCEPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_STATICEDGE
CAPTION "Appearance"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_APPEARANCE2PAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_STATICEDGE
CAPTION "Colors and sounds"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_LOGPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_STATICEDGE
CAPTION "Logs"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_USER_COMMAND DIALOGEX 0, 0, 195, 295
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Create / Modify User Command"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Command Type",IDC_SETTINGS_TYPE,7,7,181,37
    CONTROL         "Separator",IDC_SETTINGS_SEPARATOR,"Button",BS_AUTORADIOBUTTON,14,18,89,10
    CONTROL         "Raw",IDC_SETTINGS_RAW,"Button",BS_AUTORADIOBUTTON,14,28,89,10
    CONTROL         "Chat",IDC_SETTINGS_CHAT,"Button",BS_AUTORADIOBUTTON,103,18,78,10
    CONTROL         "PM",IDC_SETTINGS_PM,"Button",BS_AUTORADIOBUTTON,103,28,78,10
    GROUPBOX        "Context",IDC_SETTINGS_CONTEXT,7,44,181,37
    CONTROL         "Hub Menu",IDC_SETTINGS_HUB_MENU,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,55,89,12
    CONTROL         "User Menu",IDC_SETTINGS_USER_MENU,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,67,89,10
    CONTROL         "Search Menu",IDC_SETTINGS_SEARCH_MENU,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,103,55,78,12
    CONTROL         "Filelist Menu",IDC_SETTINGS_FILELIST_MENU,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,103,67,78,12
    GROUPBOX        "Parameters",IDC_SETTINGS_PARAMETERS,7,82,181,138
    LTEXT           "Name",IDC_SETTINGS_NAME,14,92,167,8
    EDITTEXT        IDC_NAME,14,103,167,14,ES_AUTOHSCROLL
    LTEXT           "Command",IDC_SETTINGS_COMMAND,14,121,167,8
    EDITTEXT        IDC_COMMAND,14,129,167,14,ES_MULTILINE | ES_AUTOHSCROLL | WS_VSCROLL
    LTEXT           "Hub IP / DNS (empty = all, ""op"" = where op)",IDC_SETTINGS_HUB,14,146,167,8
    EDITTEXT        IDC_HUB,14,156,167,14,ES_AUTOHSCROLL
    LTEXT           "To",IDC_SETTINGS_TO,14,174,167,8
    EDITTEXT        IDC_NICK,14,183,167,14,ES_AUTOHSCROLL
    CONTROL         "Send once per nick",IDC_SETTINGS_ONCE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,203,167,10
    GROUPBOX        "Text sent to hub",IDC_USER_CMD_PREVIEW,7,223,181,34
    EDITTEXT        IDC_RESULT,14,235,167,14,ES_AUTOHSCROLL | ES_READONLY
    CONTROL         "idc_user_cmd_open_help",IDC_USER_CMD_OPEN_HELP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,260,167,10
    DEFPUSHBUTTON   "OK",IDOK,14,274,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,74,274,50,14
    PUSHBUTTON      "Help",IDHELP,131,274,50,14
END

IDD_ADLS_PROPERTIES DIALOGEX 0, 0, 190, 125
STYLE DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ADLSearch Properties"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Search String",IDC_ADLSP_SEARCH,7,7,88,8
    EDITTEXT        IDC_SEARCH_STRING,7,17,88,12,ES_AUTOHSCROLL
    LTEXT           "Source Type",IDC_ADLSP_TYPE,105,7,78,8
    COMBOBOX        IDC_SOURCE_TYPE,105,17,78,78,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP,WS_EX_CLIENTEDGE
    LTEXT           "Min Filesize",IDC_ADLSP_SIZE_MIN,7,39,37,8
    EDITTEXT        IDC_MIN_FILE_SIZE,7,50,41,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Max Filesize",IDC_ADLSP_SIZE_MAX,54,39,39,8
    EDITTEXT        IDC_MAX_FILE_SIZE,53,50,41,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Size Type",IDC_ADLSP_UNITS,105,39,78,8
    COMBOBOX        IDC_SIZE_TYPE,105,50,78,68,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP,WS_EX_CLIENTEDGE
    LTEXT           "Destination Directory",IDC_ADLSP_DESTINATION,8,72,87,8
    EDITTEXT        IDC_DEST_DIR,7,83,88,12,ES_AUTOHSCROLL
    CONTROL         "Enabled",IDC_IS_ACTIVE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,105,72,78,10
    CONTROL         "Download Matches",IDC_AUTOQUEUE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,105,87,77,10
    DEFPUSHBUTTON   "OK",IDOK,32,104,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,88,104,50,14
END

IDD_UCPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_FAVORITEHUB DIALOGEX 0, 0, 201, 163
STYLE DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Favorite Hub Properties"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_MAGNET DIALOGEX 0, 0, 250, 143
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_MAGNET_GROUP,6,0,240,138
    ICON            IDR_MAGNET,IDC_MAGNET_ICON,22,14,21,20
    LTEXT           "Static",IDC_MAGNET_TEXT,60,12,174,24
    RTEXT           "Static",IDC_MAGNET_HASH,15,44,36,8
    EDITTEXT        IDC_MAGNET_DISP_HASH,56,42,178,12,ES_AUTOHSCROLL | ES_READONLY
    RTEXT           "Static",IDC_MAGNET_NAME,15,62,36,8
    EDITTEXT        IDC_MAGNET_DISP_NAME,56,60,178,12,ES_AUTOHSCROLL | ES_READONLY
    CONTROL         "Radio1",IDC_MAGNET_1_QUEUE,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,18,84,162,10
    CONTROL         "Radio2",IDC_MAGNET_2_SEARCH,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,18,96,162,10
    CONTROL         "Radio3",IDC_MAGNET_3_NOTHING,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,18,107,162,11
    CONTROL         "Check1",IDC_MAGNET_REMEMBER,"Button",BS_AUTO3STATE | WS_TABSTOP,18,120,162,10
    DEFPUSHBUTTON   "OK",IDOK,184,88,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,184,112,50,14
END

IDD_HASH_PROGRESS DIALOGEX 0, 0, 430, 113
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Creating file index..."
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Please wait while DC++ indexes your files (they won't be shared until they've been indexed)...",IDC_HASH_INDEXING,7,7,416,8
    LTEXT           "Current file...",IDC_CURRENT_FILE,7,19,416,8
    GROUPBOX        "Statistics",IDC_STATISTICS,7,30,416,40
    LTEXT           "0.0 files/hour",IDC_FILES_PER_HOUR,14,39,376,8
    LTEXT           "0.0 MiB/s",IDC_HASH_SPEED,14,48,376,8
    LTEXT           "0:00:00 left",IDC_TIME_LEFT,14,57,376,8
    CONTROL         "",IDC_HASH_PROGRESS,"msctls_progress32",WS_BORDER | 0x1,7,74,416,14
    DEFPUSHBUTTON   "Run in background",IDOK,147,92,109,14
END

IDD_HUB_LIST DIALOGEX 0, 0, 262, 185
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "idd_hub_list"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_LIST_DESC,6,0,252,180
    EDITTEXT        IDC_LIST_EDIT_BOX,12,12,180,14,ES_AUTOHSCROLL | ES_WANTRETURN
    PUSHBUTTON      "idc_list_add",IDC_LIST_ADD,198,12,50,14
    CONTROL         "",IDC_LIST_LIST,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,12,36,180,138
    PUSHBUTTON      "idc_list_up",IDC_LIST_UP,198,36,50,14
    PUSHBUTTON      "idc_list_down",IDC_LIST_DOWN,198,54,50,14
    PUSHBUTTON      "idc_list_edit",IDC_LIST_EDIT,198,73,50,14
    PUSHBUTTON      "idc_list_remove",IDC_LIST_REMOVE,198,90,50,14
    DEFPUSHBUTTON   "OK",IDOK,198,138,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,198,156,50,14
END

IDD_FAVORITE_DIRSPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_STATICEDGE
CAPTION "Download to..."
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_ADVANCED3PAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_STATICEDGE
CAPTION "Experts only"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_NETWORKPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_WINDOWSPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_STATICEDGE
CAPTION "Windows"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_QUEUEPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_STATICEDGE
CAPTION "Queue"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_CERTIFICATESPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_STATICEDGE
CAPTION "Security Certificates"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_TABSPAGE DIALOGEX 100, 3, 275, 225
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_STATICEDGE
CAPTION "Tabs"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_SETTINGS DIALOGEX 0, 0, 378, 275
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_THICKFRAME
CAPTION "Settings"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO 
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 236
        VERTGUIDE, 13
        VERTGUIDE, 231
        TOPMARGIN, 7
        BOTTOMMARGIN, 280
    END

    IDD_LINE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 232
        TOPMARGIN, 7
        BOTTOMMARGIN, 39
    END

    IDD_GENERALPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 268
        VERTGUIDE, 14
        VERTGUIDE, 88
        VERTGUIDE, 94
        VERTGUIDE, 156
        VERTGUIDE, 171
        VERTGUIDE, 258
        TOPMARGIN, 7
        BOTTOMMARGIN, 218
    END

    IDD_ADVANCEDPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 268
        VERTGUIDE, 64
        VERTGUIDE, 69
        VERTGUIDE, 114
        VERTGUIDE, 117
        VERTGUIDE, 204
        VERTGUIDE, 208
        VERTGUIDE, 249
        VERTGUIDE, 252
        TOPMARGIN, 7
        BOTTOMMARGIN, 218
    END

    IDD_DOWNLOADPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 268
        VERTGUIDE, 14
        VERTGUIDE, 46
        VERTGUIDE, 211
        VERTGUIDE, 217
        VERTGUIDE, 230
        VERTGUIDE, 234
        VERTGUIDE, 261
        TOPMARGIN, 7
        BOTTOMMARGIN, 217
    END

    IDD_UPLOADPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 268
        VERTGUIDE, 14
        VERTGUIDE, 215
        VERTGUIDE, 219
        VERTGUIDE, 247
        VERTGUIDE, 249
        VERTGUIDE, 261
        TOPMARGIN, 7
        BOTTOMMARGIN, 218
    END

    IDD_APPEARANCEPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 268
        VERTGUIDE, 16
        VERTGUIDE, 260
        TOPMARGIN, 7
        BOTTOMMARGIN, 218
    END

    IDD_LOGPAGE, DIALOG
    BEGIN
        VERTGUIDE, 18
        VERTGUIDE, 60
        VERTGUIDE, 258
    END

    IDD_USER_COMMAND, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 188
        VERTGUIDE, 14
        VERTGUIDE, 103
        VERTGUIDE, 181
        VERTGUIDE, 188
        TOPMARGIN, 7
        BOTTOMMARGIN, 288
        HORZGUIDE, 18
        HORZGUIDE, 28
        HORZGUIDE, 44
        HORZGUIDE, 55
        HORZGUIDE, 67
        HORZGUIDE, 82
        HORZGUIDE, 257
    END

    IDD_ADLS_PROPERTIES, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 183
        VERTGUIDE, 105
        TOPMARGIN, 7
        BOTTOMMARGIN, 118
    END

    IDD_UCPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 268
        TOPMARGIN, 7
        BOTTOMMARGIN, 218
    END

    IDD_FAVORITEHUB, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 194
        VERTGUIDE, 12
        VERTGUIDE, 52
        VERTGUIDE, 56
        TOPMARGIN, 7
        BOTTOMMARGIN, 156
    END

    IDD_MAGNET, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 243
        VERTGUIDE, 234
        TOPMARGIN, 7
        BOTTOMMARGIN, 136
    END

    IDD_HASH_PROGRESS, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 423
        VERTGUIDE, 14
        VERTGUIDE, 390
        TOPMARGIN, 7
        BOTTOMMARGIN, 106
    END

    IDD_HUB_LIST, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 255
        VERTGUIDE, 12
        VERTGUIDE, 144
        VERTGUIDE, 150
        TOPMARGIN, 7
        BOTTOMMARGIN, 178
    END

    IDD_ADVANCED3PAGE, DIALOG
    BEGIN
        VERTGUIDE, 64
        VERTGUIDE, 69
        VERTGUIDE, 114
        VERTGUIDE, 117
        VERTGUIDE, 204
        VERTGUIDE, 208
        VERTGUIDE, 249
        VERTGUIDE, 252
    END

    IDD_NETWORKPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        VERTGUIDE, 12
        VERTGUIDE, 59
        VERTGUIDE, 209
        VERTGUIDE, 230
        VERTGUIDE, 268
    END

    IDD_WINDOWSPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 268
        VERTGUIDE, 13
        VERTGUIDE, 261
        TOPMARGIN, 7
        BOTTOMMARGIN, 218
    END

    IDD_QUEUEPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 268
        TOPMARGIN, 7
        BOTTOMMARGIN, 218
    END

    IDD_CERTIFICATESPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 268
        VERTGUIDE, 98
        VERTGUIDE, 102
        TOPMARGIN, 7
        BOTTOMMARGIN, 218
    END

    IDD_TABSPAGE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 268
        VERTGUIDE, 13
        VERTGUIDE, 261
        TOPMARGIN, 7
        BOTTOMMARGIN, 218
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,7,0,91
 PRODUCTVERSION 0,7,0,91
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "http://dcplusplus.sourceforge.net"
            VALUE "FileDescription", "DC++"
            VALUE "FileVersion", "0, 7, 0, 91"
            VALUE "InternalName", "DC++"
            VALUE "LegalCopyright", "Copyright 2001-2008 Jacek Sieka"
            VALUE "OriginalFilename", "DCPlusPlus.exe"
            VALUE "ProductName", "DC++"
            VALUE "ProductVersion", "0, 7, 0, 91"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_DCPP ACCELERATORS 
BEGIN
    "1",            IDC_VIEW_TOOLBAR,        VIRTKEY, CONTROL, NOINVERT
    "2",            IDC_VIEW_STATUS_BAR,     VIRTKEY, CONTROL, NOINVERT
    "3",            IDC_VIEW_TRANSFER_VIEW,  VIRTKEY, CONTROL, NOINVERT
    "D",            IDC_QUEUE,              VIRTKEY, CONTROL, NOINVERT
    "E",            IDC_REFRESH_FILE_LIST,  VIRTKEY, CONTROL, NOINVERT
    "F",            IDC_FAVORITE_HUBS,          VIRTKEY, CONTROL, NOINVERT
    "L",            IDC_OPEN_FILE_LIST,     VIRTKEY, CONTROL, NOINVERT
    "N",            IDC_NOTEPAD,            VIRTKEY, CONTROL, NOINVERT
    "P",            IDC_PUBLIC_HUBS,        VIRTKEY, CONTROL, NOINVERT
    "Q",            IDC_QUICK_CONNECT,  VIRTKEY, CONTROL, NOINVERT
    "R",            IDC_RECONNECT,      VIRTKEY, CONTROL, NOINVERT
    "S",            IDC_SEARCH,         VIRTKEY, CONTROL, NOINVERT
    "S",            IDC_SEND_MESSAGE,       VIRTKEY, ALT, NOINVERT
    "T",            IDC_FOLLOW,             VIRTKEY, CONTROL, NOINVERT
    "U",            IDC_FAVUSERS,           VIRTKEY, CONTROL, NOINVERT
    "W",            IDC_CLOSE_WINDOW,       VIRTKEY, CONTROL, NOINVERT
    VK_F4,            IDC_CLOSE_WINDOW,       VIRTKEY, CONTROL, NOINVERT
END

IDR_PUBLICHUBS ACCELERATORS 
BEGIN
    "C",            IDC_PUB_LIST_CONFIG,    VIRTKEY, ALT, NOINVERT
    "I",            IDC_FILTER_FOCUS,       VIRTKEY, ALT, NOINVERT
    "R",            IDC_REFRESH,            VIRTKEY, ALT, NOINVERT
END

IDR_ADLSEARCH ACCELERATORS 
BEGIN
    "N",            IDC_ADD,                VIRTKEY, ALT, NOINVERT
    "P",            IDC_EDIT,               VIRTKEY, ALT, NOINVERT
    "H",            IDC_HELP_FAQ,           VIRTKEY, ALT, NOINVERT
    "D",            IDC_MOVE_DOWN,          VIRTKEY, ALT, NOINVERT
    "U",            IDC_MOVE_UP,            VIRTKEY, ALT, NOINVERT
    "R",            IDC_REMOVE,             VIRTKEY, ALT, NOINVERT
END

IDR_FAVORITE_HUBS ACCELERATORS 
BEGIN
    "N",            IDC_ADD,                VIRTKEY, ALT, NOINVERT
    "P",            IDC_EDIT,               VIRTKEY, ALT, NOINVERT
    "R",            IDC_REMOVE,             VIRTKEY, ALT, NOINVERT
    "U",            IDC_MOVE_UP,            VIRTKEY, ALT, NOINVERT
    "D",            IDC_MOVE_DOWN,          VIRTKEY, ALT, NOINVERT
    "C",            IDC_CONNECT,            VIRTKEY, ALT, NOINVERT
END

