// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#define WINVER 0x0501
#define _WIN32_IE 0x0501
#define _WIN32_WINNT 0x0501
#include <winuser.h>
#include <commctrl.h>
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "win32/resource.h\0"
END

#endif    // APSTUDIO_INVOKED

#ifndef NO_MANIFEST
#if defined x86
1 24 "res/DCPlusPlus.manifest.x86"
#elif defined x64
1 24 "res/DCPlusPlus.manifest.x64"
#elif defined ia64
1 24 "res/DCPlusPlus.manifest.ia64"
#else
#error "manifest: unknown arch"
#endif
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_FOLDERS             BITMAP                  "res/folders.bmp"
IDB_USERS               BITMAP                  "res/users.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_DCPP                ICON                    "res/DCPlusPlus.ico"
IDI_PUBLICHUBS          ICON                    "res/PublicHubs.ico"
IDI_SEARCH              ICON                    "res/Search.ico"
IDI_FAVORITE_HUBS       ICON                    "res/FavoriteHubs.ico"
IDI_PRIVATE             ICON                    "res/UserOn.ico"
IDI_DIRECTORY           ICON                    "res/Directory.ico"
IDI_HUB                 ICON                    "res/HubOn.ico"
IDI_NOTEPAD             ICON                    "res/Notepad.ico"
IDI_QUEUE               ICON                    "res/Queue.ico"
IDI_FINISHED_DL         ICON                    "res/FinishedDL.ico"
IDI_ADLSEARCH           ICON                    "res/ADLSearch.ico"
IDI_FINISHED_UL         ICON                    "res/FinishedUL.ico"
IDI_FAVORITE_USERS      ICON                    "res/FavoriteUsers.ico"
IDI_SPY                 ICON                    "res/SearchSpy.ico"
IDI_NET_STATS           ICON                    "res/NetStats.ico"
IDI_WAITING_USERS       ICON                    "res/WaitingUsers.ico"
IDI_MAGNET              ICON                    "res/Magnet.ico"
IDI_HUB_OFF             ICON                    "res/HubOff.ico"
IDI_PRIVATE_OFF         ICON                    "res/UserOff.ico"
IDI_FINISHED_DL_BY_FILE ICON                    "res/FinishedDLByFile.ico"
IDI_FINISHED_UL_BY_FILE ICON                    "res/FinishedULByFile.ico"
IDI_FINISHED_DL_BY_USER ICON                    "res/FinishedDLByUser.ico"
IDI_FINISHED_UL_BY_USER ICON                    "res/FinishedULByUser.ico"
IDI_EXIT                ICON                    "res/Exit.ico"
IDI_FOLLOW              ICON                    "res/Follow.ico"
IDI_HELP                ICON                    "res/Help.ico"
IDI_OPEN_DL_DIR         ICON                    "res/OpenDLDir.ico"
IDI_OPEN_FILE_LIST      ICON                    "res/OpenFileList.ico"
IDI_RECONNECT           ICON                    "res/Reconnect.ico"
IDI_SETTINGS            ICON                    "res/Settings.ico"
IDI_TRAY_PM             ICON                    "res/TrayPM.ico"
IDI_TRUSTED             ICON                    "res/Trusted.ico"
IDI_SECURE              ICON                    "res/Secure.ico"
IDI_RECENTS             ICON                    "res/Recents.ico"
IDI_WHATS_THIS          ICON                    "res/WhatsThis.ico"
IDI_DOWNLOAD            ICON                    "res/Download.ico"
IDI_UPLOAD              ICON                    "res/Upload.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,7,6,0
 PRODUCTVERSION 0,7,6,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "http://dcplusplus.sourceforge.net"
            VALUE "FileDescription", "DC++"
            VALUE "FileVersion", "0, 7, 6, 0"
            VALUE "InternalName", "DC++"
            VALUE "LegalCopyright", "Copyright 2001-2010 Jacek Sieka"
            VALUE "OriginalFilename", "DCPlusPlus.exe"
            VALUE "ProductName", "DC++"
            VALUE "ProductVersion", "0, 7, 6, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
